/* Reset and Base Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  background-color: #c4ebfd;
  color: #1D1D1E;
}
a, .nav-button {
    transition: all 300ms ease;
}

/* Navbar */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #c4ebfdb6;
  padding: 0px 80px;
  transition: all 0.3s ease;
}

.logo-img {
  width: 125px;
  height: 125px;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 30px;
}

.bottom-border-transition {
  position: relative;
  font-family: 'Oswald';
  text-decoration: none;
  color: #1D1D1E;
  font-size: 28px;
  font-weight: 400;
}
.bottom-border-transition::after {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0;
    height: 2px;
    background: linear-gradient(90deg, #1D1D1E, #1D1D1E);
    transition: width 0.2s ease;
}

.bottom-border-transition:hover::after {
    width: 100%;
}

.bottom-border-transition:hover {
    color: #1D1D1E;
}
.nav-pipe {
  font-size: 30px;
  cursor: default;
}

/* Hero Section */
.hero-image-container {
    width: 100%;
}
.hero-image-container img {
    width: 100%;
}

/* About-Blog Section */
#about-blog {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
  justify-content: center;
  padding: 40px 20px;
}

.about-blog-info {
  max-width: 500px;
}

.about-blog-info h1 {
  font-family: 'Oswald';
  font-size: 28px;
  font-weight: 500;
  margin-bottom: 10px;
}

.about-blog-info p {
  margin-bottom: 15px;
}

.blog-nav-button-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
  padding-bottom: 0;
}
.blog-nav-button {
    border-radius: 2.5rem;
    font-family: 'Lato';
    font-weight: 600;
    border: none;
    padding: 1rem;
    width: 20rem;
    background-color: #e1f5fe;
}
.blog-nav-button:hover {
  cursor: pointer;
  background-color: #d5f1fe;
  transition: all 0.5s ease;
}
/* Contact Section */
#contact {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
  justify-content: center;
  padding: 40px 20px;
}

.contact-info {
  max-width: 500px;
}

.contact-info h1 {
  font-family: 'Oswald';
  font-size: 28px;
  font-weight: 500;
  margin-bottom: 10px;
}

.contact-info p {
  margin-bottom: 15px;
}

/* MISC */

.button-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
  padding-bottom: 0;
}
.nav-button {
    border-radius: 2.5rem;
    font-family: 'Lato';
    font-weight: 600;
    border: none;
    padding: 1rem;
    width: 8rem;
    background-color: #e1f5fe;
}
.nav-button:hover {
  cursor: pointer;
  background-color: #d5f1fe;
  transition: all 0.5s ease;
}
.social-icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 1rem;
  gap: 1rem;
}
.social-icon {
  height: 2.5rem;
  width: auto;
}
.social-icon-big {
  height: 2.7rem;
  width: auto;
}
.social-icon:hover {
    cursor: pointer;
}
.social-icon-big:hover {
    cursor: pointer;
}
